<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textutils</title>
</head>

<body>
    <h1>Welcome to the text analyzer.. Enter your text below</h1>
    <form action="/analyzenow" method="GET">
        <textarea name ='text' 
            style="margin: 0px; width: 1330px; height: 205px;"></textarea>
            <input type="checkbox" name="removepunc">Remove punc <br>
            <input type="checkbox" name="fullcaps">UPPERCASE <br>
            <input type="checkbox" name="newlineremover">New Line Remove <br>
            <button type="submit" >Analyze Now</button>
    </form><br>
   

</body>

</html>